<body class="body">
<div class="box">
<h1 style="text-align: center;">To-Do List</h1>

@if(todos.length == 0){
  <h2>All task completed, Congratulations</h2>
}

<ol>
@for (task of todos; track $index) {
  <li [class.completed]="task.completed">
  @if (!task.completed) {
    <button class="completebutton" (click)="completeTask(task)">Complete</button>
  }
    {{task.task}} ({{task.duration | number}} hours) 
    @if(task.priority!= "Normal"){
      {{task.priority}}
    }
      <button (click)="removeTask(task)" class="inputbutton">X</button></li>
}
</ol>
<div class="borderbox">
<h3>Enter a new task:</h3>
<input type="text" [(ngModel)]="formTodo.task">
<h3>How many hours will it take?</h3>
<input type="number" [(ngModel)]="formTodo.duration">


<h3>How high is the priority?</h3>

<input type="radio" id="high" [value]="'High'" [(ngModel)]="formTodo.priority" name="prioritys">
<label for="high">High</label>

<input type="radio" id="low" [value]="'Low'" [(ngModel)]="formTodo.priority" name="prioritys">
<label for="low">Low</label>

<input type="radio" id="normal" [value]="'Normal'" [(ngModel)]="formTodo.priority" name="prioritys">
<label for="normal">Normal</label>

<br>
<button (click)="AddTask()" class="submitbutton">Add</button>
</div>
</div>
</body>